<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目详情</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8" style="padding-left: 30px">
            <h3>{{ project.name }}</h3>
        </div>
        <div class="col-md-8" style="padding-left: 30px">
            {{ project.describe }}
        </div>
        <div class="col-md-8" style="padding-left: 30px">
            {{ project.price }}
        </div>
        <div class="col-md-8" style="padding-left: 30px">
            {{ project.date_time }}
        </div>
    </div>
</div>
</body>
</html>