<!doctype html>
<html lang="zh">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>项目列表</title>
</head>
<body>
<div class="container" style="margin-top: 30px;">
    <table class="table table-striped" id="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">项目名称</th>
            <th scope="col">金额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>东海油气田一期工程2019项目</td>
            <td>11100000</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>南海油气田一期工程</td>
            <td>1230000</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>旧金山跨海大桥项目</td>
            <td>343300</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>合计</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    var calcTotal=function(table,column){//合计，表格对象，对哪一列进行合计，第一列从0开始

        var trs=table.getElementsByTagName('tr');

        var start=1,//忽略第一行的表头

            end=trs.length-1;//忽略最后合计的一行

        var total=0;

        for(var i=start;i<end;i++){

            var td=trs[i].getElementsByTagName('td')[column];

            var t=parseFloat(td.innerHTML);

            if(t)total+=t;

        }

        trs[end].getElementsByTagName('td')[column].innerHTML=total;

    };

    calcTotal(document.getElementById('table'),1);

</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>